<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Наши отзывы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body id="page-6">
    <div class = "cloud">
        <h1 class="topic-page-1">Наши отзывы</h1>
    </div>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-bdc33896-8d21-4fc2-8b05-82752fa6870b"></div>
    <div class="main-button-block">
        <a class="main-button" href="/">На главную</a>
    </div>
</body>

</html>