<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Self_air</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="air-page-suggestion">
    <div class="main-button-self-block">
        <a class="main-button-self" href="/">На главную</a>
    </div>
    <table class="table-for-air-suggestion">
        <tr>
            <td>
                <h1 class="your-air">Ваш воздух! :D</h1>
            </td>
        </tr>
        <tr>
            <td>
                <div class="air-image-for-suggestion">
                    <img src="https://kartinkof.club/uploads/posts/2022-09/thumbs/1662343288_12-kartinkof-club-p-novie-i-krasivie-kartinki-banka-19.jpg" alt="Тут картинка банки с воздухом :D">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h1 class="name-air-for-suggestion">Пук мопса</h1>
            </td>
        </tr>
        <tr>
            <td>
                <div class="info-air-for-suggestion-block">
                    <a href="/Pug's_Fart/50" class="info-air-for-suggestion">Подробнее</a>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>