<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Oh_Error</title>
</head>

<body id="error">
    <div class = "cloud">
        <h1 class="topic-page-1">Ой ошибка...</h1>
    </div>
    <table class="pug-block">
        <tr>
            <td>
                <img src="https://sobakovod.club/uploads/posts/2022-02/1644783288_2-sobakovod-club-p-sobaki-mops-grustit-2.jpg" alt="Тут грустный мопсик" class="pug">    
            </td>
        </tr>
    </table>
    <div id="buy-button">
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0">Попробовать ещё раз</a>
    </div>
</body>

</html>